div {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
} 

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}

/*section_one*/ 

.section_one {
	width: 100%;
	background: url(../img/backgr_image1.jpg) no-repeat center;
	background-size: cover;
	text-transform: uppercase;	 
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.title {
	margin: 0 auto;
	padding-top: 500px;
	color: #fff;
	text-align: center;
}

h1 {
	display: inline-block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 0;
}

.button_learn {
	clear: both;
	float: top;
	padding: 30px 500px 300px;
}

.button_learn a {
	display: inline-block;
	background: transparent;
	text-align: center;
	padding: 20px 40px;
	border: 2px solid #fff;
	text-decoration: none;
	color: #fff;
}

.menu {
	display: inline-block;
	width: 100%;
	background-color: #252e30;
}

.menu ul {
	float: right;
	margin: 0;
	padding: 30px 0;
}

.menu li {
	list-style-type: none; 
	float: left;
	padding: 0px 18px 0px;
}

.menu a {
	text-decoration: none;
	color: #fff;
}	

.logo img {
	padding-top: 15px;
	float: left;
}


/*section_two*/ 

.section_two {
	width: 100%;
	background-color: #ffffff;
}

