body {
	margin: 100px 300px;
}

.pink {
	position: relative;
	background: #e51875; 
	width: 239px;
	height: 240px;
}

.orange {
	background: #ff8400;
	position: absolute;
	width: 144px;
	height: 144px;
	border-radius: 72px;
	top: 148px;
	left: 347px;
}

.white1 {
	position: absolute;
	background: #ffffff;
	width: 5px;
	height: 38px;
	left: 417px;
	top: 201px;
}
.white2 {
	position: absolute;
	background: #ffffff;
	width: 37px;
	height: 6px;
	left: 401px;
	top: 217px;
}